<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acess</title>
</head>
<body>
    <center>
        <h1>Displaying the info the acess model</h1>
        <form  method="POST">
            {% csrf_token %}
            <label for="topic">topic_name</label>
            <input type="text" name="topic" id="topic"><br>
            <label for="name">name</label>
            <input type="text" name="name" id="name"><br>
            <label for="url">url</label>
            <input type="url" name='url' id="url"><br>
            <label for="date">date</label>
            <input type="date" name="date" id="date">
            <br>
            <button>submit</button>
            
        </form>
    </center>    
    
</body>
</html>